/DTXMania-Unity.sln
/.vs
/Library
/obj
/Temp
/Assembly-CSharp-Editor.csproj
/DTXMania-Unity.Editor.csproj
/Assembly-CSharp.csproj
/Assets/StreamingAssets/DTXFiles
/Assets/StreamingAssets/DTXFiles.meta
/*.apk
